In [1]:
import time
import urllib.request
from datetime import datetime
import os

from google.transit import gtfs_realtime_pb2

import pandas as pd

In [2]:
SHINJUKU_ROUTE_IDS = [
    "010",  # CH01
    "122",  # 白61
    "135",  # 宿74
    "138",  # 宿75
    "147",  # 早77
    "148",  # 王78
    "158",  # 宿91
    "169",  # 品97
]

In [3]:
# Helper to convert UNIX timestamp to readable format
def format_time(ts):
    return datetime.fromtimestamp(ts).strftime("%Y-%m-%d %H:%M:%S") if ts else "N/A"

In [8]:
dfs = []
for i in range(9, 20):
    date = f"202504{str(i).zfill(2)}"
    dfs.append(pd.read_csv(f"{date}.csv", index_col=0))

dfs[0].head()

,Vehicle ID,Trip ID,Route ID,Direction,Schedule Relationship,Current Stop Sequence,Current Stop ID,Timestamp,Location
0,K224,12101-3-13-170-1208,10,0.0,0.0,4.0,2250-01,2025-04-09 23:14:06,35.68959045410156 139.69358825683594
1,F584,44201-1-37-170-1214,122,1.0,0.0,2.0,1516-01,2025-04-09 23:15:28,35.737483978271484 139.66888427734375
2,G745,44201-1-37-170-1204,122,1.0,0.0,8.0,1486-02,2025-04-09 23:16:05,35.72273635864258 139.6904296875
3,F577,44201-1-37-170-1154,122,1.0,0.0,13.0,1529-05,2025-04-09 23:16:03,35.7219352722168 139.70632934570312
4,F576,44201-1-37-170-1144,122,1.0,0.0,20.0,0799-02,2025-04-09 23:15:40,35.7138557434082 139.72604370117188